@(message: String)

@mainWizard("ScoDash - create dashboard 1") {

    <div class="breadcrumbs row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn active">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">3<br></button>
        </div>
    </div>


    <a href="createDashboard1" type="button" class="btn btn-default"><</a>
    <button type="submit" class="btn btn-primary">Next</button>






}
