@(dashboardForm1: play.api.data.Form[controllers.Forms.NewDashboard])(implicit request: MessagesRequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@mainWizard("ScoDash - new dashboard") {

    <div class="padding-15 row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn active">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">3<br></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>NEW DASHBOARD</h3>
        </div>
    </div>



    <div class="padding-15 row">
        <div class="col-md-offset-4 col-md-4">
            @helper.form(action = routes.Application.processNewDashboard, 'class -> "form-horizontal") {
                @helper.inputText(
                    dashboardForm1("name"), '_label -> "Dashboard Name", 'class -> "form-control", 'placeholder -> "Dashboard name", 'autofocus -> true
                )
                @helper.textarea(
                    dashboardForm1("description"), '_label -> "Description", 'class -> "form-control", 'rows -> 3, 'placeholder -> "Dashboard description"
                )
@*                <div class="form-group">
                    <label>Dashboard type</label>&nbsp;<span class="label-comment">(you can change it anytime later)</span>
                    <div data-toggle="buttons">
                        <div class="btn btn-default btn-checkbox btn-checkbox-comma @{if (dashboardForm1("style").value.getOrElse("") == "comma") "active" else ""}">
                            <input type="radio" name="style" id="style" value="comma" @{if (dashboardForm1("style").value.getOrElse("") == "comma") "checked" else ""} data-toggle="button">Comma dashboard
                        </div>
                        <div class="btn btn-default btn-checkbox btn-checkbox-pie @{if (dashboardForm1("style").value.getOrElse("") == "pie") "active" else ""} ">
                            <input type="radio" name="style" id="style" value="pie" @{if (dashboardForm1("style").value.getOrElse("") == "pie") "checked" else ""} data-toggle="button">Pie chart
                        </div>
                        <div class="btn btn-default btn-checkbox btn-checkbox-score @{if (dashboardForm1("style").value.getOrElse("") == "score") "active" else ""}">
                            <input type="radio" name="style" id="style" value="score" @{if (dashboardForm1("style").value.getOrElse("") == "score") "checked" else ""} data-toggle="button">Score card
                        </div>
                    </div>
                </div>*@
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            }
        </div>
    </div>

}
