@(dashboardForm1: play.data.Form[forms.CreateDashboard1])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@mainWizard("ScoDash - create dashboard 1") {

    <div class="breadcrumbs row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn active">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">3<br></button>
        </div>
    </div>

    <div class="col-md-12 text-center">
        <h3>NEW DASHBOARD</h3>
    </div>

    @helper.form(action = routes.Application.createDashboard2, 'class -> "form-horizontal") {

        @helper.inputText(
            dashboardForm1("dashboardName"), '_label -> "Dashboard Name", 'class -> "form-control", 'placeholder -> "Dashboard name"
        )

        @helper.textarea(
            dashboardForm1("dashboardDescription"), '_label -> "Description", 'class -> "form-control", 'rows -> 3, 'placeholder -> "Dashboard description"
        )

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1">Comma dashboard
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2">Pie chart
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3">Score card
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Next</button>
    }





}

<script>
        $('.btn').button();
</script>
