@()

@mainWizard("ScoDash - create dashboard 2") {

    <div class="padding-15 row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn active">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">3<br></button>
        </div>
    </div>

    <div class="col-md-12 text-center">
        <h3>DASHBOARD'S ITEMS</h3>
    </div>

    <div class="padding-15 row">
        <div class="col-md-offset-4 col-md-4">
        @helper.form(action = routes.Application.addItem, 'class -> "form-inline") {

        }

    <div class="padding-15 row">
        <div class="col-md-offset-4 col-md-4">

            <form action="@routes.Application.addItem()" method="post" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Item name">
                    </div>
                    <button class="btn btn-default" type="submit">Add</button>
            </form>

            <form class="form-horizontal">
                <div class="form-group pull-right">
                    <a href="createDashboard1" type="button" class="btn btn-default"><</a>
                    <button type="button" class="btn btn-primary">Next</button>
                </div>
            </form>

        </div>



    </div>






}
