
@(dashboardForm2: play.data.Form[CreateDashboardItems])

@import helper._

@mainWizard("ScoDash - create dashboard 2") {

    <div class="padding-15 row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn active">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">3<br></button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-center">
            <h3>DASHBOARD'S ITEMS</h3>
        </div>
    </div>

    <div class="padding-15 row">
        <div class="col-md-offset-4 col-md-4">

            @repeat(dashboardForm2("items"), min=0) { item =>
                <form action="@routes.Application.removeItem()" method="post" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control " id="itemName" name="itemName" value="@{item.value}" readonly>
                        <button class="btn btn-default remove-btn" type="submit"></button>
                    </div>
                </form>
            }


            <form action="@routes.Application.addItem()" method="post" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Item name" autofocus>
                    </div>
                    <button class="btn btn-default" type="submit">Add</button>
            </form>

            <div class="form-group pull-right padding-15">
                <a href="showNewDashboard" type="button" class="btn btn-default"><</a>
                <a href="showDashboardOwner" type="button" class="btn btn-primary">Next</a>
            </div>

        </div>
    </div>



}
