@(message: String)

@mainWizard("ScoDash - create dashboard 1") {

    <div class="breadcrumbs row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn active">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">3<br></button>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="dashboardName">Dashboard name</label>
            <input type="text" class="form-control" id="dashboardName" placeholder="Dashboard name">
        </div>


        <div class="form-group">
            <label for="dashboardDescription">Dashboard description</label>
            <textarea class="form-control" rows="3" id="dashboardDescription" placeholder="Dashboard description"></textarea>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="dashboardType" id="dashboardTypeCommna" value="dashboardTypeCommna" checked>
                Commna dashboard
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dashboardType" id="dashboardTypePie" value="dashboardTypePie">
                Pie chart
            </label>
        </div>
        <div class="radio disabled">
            <label>
                <input type="radio" name="dashboardType" id="dashboardTypeSport" value="dashboardTypeSport" disabled>
                Score card
            </label>
        </div>


        <button type="submit" class="btn btn-primary">Next</button>
    </form>





}
