@()

@mainWizard("ScoDash - create dashboard 2") {

    <div class="breadcrumbs row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn active">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">3<br></button>
        </div>
    </div>

    <div class="col-md-12 text-center">
        <h3>DASHBOARD'S ITEMS</h3>
    </div>


    <form action="@routes.Application.addItem()" method="post" class="form-inlinse">
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Item name">
                <span class="input-group-addon"><button type="submit" href="addItem">Add</button></span>
            </div>
        </div>
    </form>


    <a href="createDashboard1" type="button" class="btn btn-default"><</a>
    <button type="submit" class="btn btn-primary">Next</button>






}
