
@(dashboardForm3:play.api.data.Form[controllers.Forms.DashboardOwner])(implicit request: MessagesRequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@mainWizard("ScoDash - new dashboard") {

    <div class="padding-15 row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn active">3<br></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>WHO YOU ARE</h3>
        </div>
    </div>



    <div class="padding-15 row">
        <div class="col-md-offset-4 col-md-4">
            @helper.form(action = routes.Application.processDashboardOwner, 'class -> "form-horizontal") {
                @helper.inputText(
                    dashboardForm3("name"), '_label -> "Name", 'class -> "form-control", 'placeholder -> "Name", 'autofocus -> true
                )
                @helper.inputText(
                    dashboardForm3("email"),
                    '_label -> "Email",
                    'class -> "form-control",
                    'rows -> 3,
                    'placeholder -> "Email",
                    '_label_comment -> "(you will receive links to your dashboard there)"
                )
                <script type="text/javascript" language="JavaScript">
                        var offset = new Date();
                        document.write('<input type="hidden" id="tzOffset" name="tzOffset" value="' + offset.getTimezoneOffset() + '"/>');
                </script>

                <div class="form-group pull-right">
                    <a href="showDashboardItems" type="button" class="btn btn-default"><</a>
                    <button type="submit" class="btn btn-primary">Create dashboard&nbsp;></button>
                </div>
            }
        </div>
    </div>

}
