@(dashboardForm1: play.data.Form[forms.CreateDashboard1])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@mainWizard("ScoDash - create dashboard 1") {

    <div class="breadcrumbs row vertical-align">
        <div class="col-md-12 text-center">
            <button type="button" class="btn breadcrumb-btn active">1</button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">2<br></button>
            <hr class="horizontal"/>
            <button type="button" class="btn breadcrumb-btn">3<br></button>
        </div>
    </div>

    <div class="col-md-12 text-center">
        <h3>NEW DASHBOARD</h3>
    </div>

    @helper.form(action = routes.Application.createDashboard2, 'class -> "form-horizontal") {

        @helper.inputText(
            dashboardForm1("dashboardName"), '_label -> "Dashboard Name", 'class -> "form-control", 'placeholder -> "Dashboard name"
        )

        @helper.textarea(
            dashboardForm1("dashboardDescription"), '_label -> "Dashboard Description", 'class -> "form-control", 'rows -> 3, 'placeholder -> "Dashboard description"
        )

        <div class="radio">
            <label>
                <input type="radio" name="dashboardType" id="dashboardTypeCommna" value="dashboardTypeCommna" checked>
                Commna dashboard
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dashboardType" id="dashboardTypePie" value="dashboardTypePie">
                Pie chart
            </label>
        </div>
        <div class="radio disabled">
            <label>
                <input type="radio" name="dashboardType" id="dashboardTypeSport" value="dashboardTypeSport" disabled>
                Score card
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Next</button>
    }





}
