@(message: String, hash: String)

@main("Scoring dashboard") {

    <body data-ws-url="@routes.Application.ws.webSocketURL(request)">
@*        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Reactive Stocks</a>
                    <form hash="addsymbolform" class="navbar-form pull-right">
                        <input hash="addsymboltext" type="text" class="span2" placeholder="SYMBOL">
                        <button type="submit" class="btn">Add Stock</button>
                    </form>
                </div>
            </div>
        </div>*@

        <div hash="dashboard" class="container">

        </div>
    </body>

    <script>
        var key = 'recentDashboards';
        var hash = '@{hash}';
        var recentHashes = JSON.parse(localStorage.getItem(key)) || [];
        var addDashboard = true;
        for (var i = 0; i < recentHashes.length; i++) {
            var recent = recentHashes[i];
            if (recent == hash) {
                addDashboard = false;
                break;
            }
        }
        if (addDashboard) {
            recentHashes.push(hash);
            localStorage.setItem(key, JSON.stringify(recentHashes));
        }
    </script>


}
