@(dashboard: DashboardFO)(implicit request: play.api.mvc.Request[_])

@mainBasic("ScoDash") {

    <div class="row bottom-border">
        <div class="row">
            <div class="col-md-12 text-center"><h2>@{
                dashboard.name
            }</h2></div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">@{
                dashboard.description
            }</div>
        </div>
        <br/>
    </div>

    <div class="row bottom-border-thin dashboard-header">
        <div class="col-md-4 col-md-offset-1">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn-type-1 btn btn-default active">
                    <input type="radio" name="dashboard-type" data-type="commas-type" autocomplete="off" checked>
                </label>
                <label class="btn-type-2 btn btn-default">
                    <input type="radio" name="dashboard-type" data-type="chart-type" autocomplete="off">
                </label>
                @*<label class="btn-type-3 btn btn-default">*@
                    @*<input type="radio" name="dashboard-type" data-type="sport-type" autocomplete="off">*@
                @*</label>*@
            </div>
        </div>
        <div class="col-md-2 col-md-offset-4">
            <select id="sorting" class="form-control" data-hash="@{if (dashboard.writeHash.isEmpty) dashboard.readonlyHash else dashboard.writeHash}">
                <option value="AZ">A-Z</option>
                <option value="score">Score</option>
            </select>
        </div>
    </div>


    <div id="dashboard" data-ws-url="@routes.Application.wss(if (dashboard.writeHash.isEmpty) dashboard.readonlyHash else dashboard.writeHash ).webSocketURL">
        <div class="row bottom-border">
            <div id="commas" class="col-md-10 col-md-offset-1" >
            </div>
            <div id="chart" class="chart-container" >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 footer">
            <div class="text-center">Dashboard <b>@dashboard.name</b> created by <b>@dashboard.ownerName</b> on <span id="created">@dashboard.created</span></div>
            <div class="text-center">Last update at <span id="updated">@dashboard.updated</span></div>
        </div>
    </div>

    <script language="JavaScript">
        var hashes = localStorage.getItem("hashes");
        if (hashes == null) {
            hashesArr = [];
        } else {
            hashesArr = JSON.parse(hashes)
        }
        hashesArr.push('@{if (dashboard.writeHash.isEmpty) dashboard.readonlyHash else dashboard.writeHash}')
        // remove duplicates
        hashesArr = hashesArr.filter(function (x, i, a) {
            return a.indexOf(x) == i;
        });
        localStorage.setItem("hashes", JSON.stringify(hashesArr));
    </script>

}

