@(message: String)

@main("ScoDash") {

    <div class="row bottom-border">
        <div class="row">
            <div class="col-md-12 text-center"><h1>Office's Cofee</h1></div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">What we have drunken at work so far.</div>
        </div>
        <br/>
    </div>

    <div class="row bottom-border">
        <div class="row">
            <div class="col-md-1 col-md-offset-1">
                <span class="glyphicon glyphicon-list-alt"></span>
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-repeat"></span>
            </div>
            <div class="col-md-1">                                                              
                <span class="glyphicon glyphicon-font"></span>
            </div>

            <div class="col-md-2 col-md-offset-3">
                <select class="form-control">
                    <option>A-Z</option>
                    <option>Order</option>
                </select>
            </div>
        </div>
    </div>
}
