@(message: String)

@main("Scoring dashboard") {

    <body data-ws-url="@routes.Application.ws.webSocketURL(request)">
        <div class="container">
            <div id="recent">

            </div>
        </div>
    </body>

    <script>
        var key = 'recentDashboards';
        var recent = JSON.parse(localStorage.getItem(key)) || [];
        for (var i = 0; i < recent.length; i++) {
            var dashboard = recent[i];
            $("#recent").append('<a href="' + dashboard + '">' + dashboard + '</a><br/>')
        }
        localStorage.setItem(key, JSON.stringify(recent))
    </script>



}
