@()

@mainBasic("ScoDash") {

    <div class="row">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Simple online counting</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                Create and share online scoring dashboard
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center padding-10">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="padding-10">no registration</span>
                <br/>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="padding-10">online</span>
                <br/>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="padding-10">free</span>
            </div>
        </div>


        <div id="monitor-preview-section" class="row">
            <div class="text-center">
                <a href="/"><img src="@routes.Assets.at("images/preview-monitor.png")" width="700px" /></a>
            </div>
            <div class="text-center">
                <a href="/showNewDashboard" type="button" class="blue-btn btn btn-default">+ Create dashboard</a>
            </div>
        </div>

        <br/>

        <div id="recent-dashboards-section" class="row">
            <div class="col-md-12 text-center">
                <h4>Recent dashboards</h4>
                <div id="recent-dashboards"></div>
            </div>
        </div>


        <br/>
    </div>



}
